.outerCV{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 5px;
}
  
  table {
    border-collapse: collapse;
    width: 100%;
    background-color: rgb(231, 240, 240);
    margin: 20px;
  }
  
  th,td {
    height: 50px;
    width: 14%;

  }
  th{
      text-align: left
  }
.up{
  color: rgb(69, 173, 69);
}
.down{
  color: rgb(226, 87, 87);
}



